<!DOCTYPE HTML>
<html>
<head>
<title>在线编辑页</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script type="text/javascript" src="js/md5.min.js"></script>
<script type="text/javascript" src="js/editormd/editormd.js"></script>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="css/editormd/editormd.css" />
<link rel="shortcut icon"
	href="https://pandao.github.io/editor.md/favicon.ico"
	type="image/x-icon" />
</head>
<body>
	<div class="container">
		<div class="col-md-8">
			<div class="row" style="margin-top: 20px;">
				<div class="col-md-1"></div>
				<div class="col-md-8">
					<input id="title" name="title" class="form-control" type="text"
						placeholder="输入文章标题" />
				</div>
				<div class="col-md-2">
					<button id="publishBtn" class="btn btn-primary btn-block"
						type="button">发布文章</button>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div id="my-editormd">
					<textarea id="my-editormd-markdown-doc"
						name="my-editormd-markdown-doc" style="display: none;"></textarea>
					<textarea id="my-editormd-html-code" name="my-editormd-html-code"
						style="display: none;"></textarea>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<button id="logoutBtn" class="btn btn-primary btn-block"
				type="button">退出登录</button>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/editor.js"></script>
</html>